python-dotenv==1.1.1
structlog

langchain==1.4.2
langchain-community
langchain-core
langchain-classic==1.0.8
langchain-text-splitters
langchain-huggingface

langchain-groq
langchain-google-genai
langchain-openai

sentence-transformers
docx2txt==0.9
ipykernel==6.30.0
ipywidgets
python-multipart==0.0.20
faiss-cpu
pypdf

fastapi==0.115.6
uvicorn==0.32.1
Jinja2==3.1.4




langsmith==0.13.0
openai
pandas